<div class="container">
  <figure class="text-center">
    <p class="topPadding"></p>
    <h3>Editing project</h3>
    <hr></hr>
    <p class="topPadding"></p>

    <%= render "form", project: @project %>

    <br>

    <div>
      <%= link_to "Show this project", @project, class:"btn btn-primary" %> 
      <%= link_to "Back to projects", projects_path, class:"btn btn-primary" %>
    </div>
  </figure>
</div>
