<% if current_user %>
    <ul class="user session items">
        <li class="user-session-item">
            <%= button_to "Sign Out", destroy_user_session_url, method: :delete %>
        </li>
    </ul>
<% else %>
    <ul class="user session items">
        <li class="user-session-item">
            <%= button_to "Sign In", new_user_session_url, method: :get %>
        </li>
        <li class="user-session-item">
            <%= button_to "Sign Up", new_user_registration_url, method: :get %>
        </li>
    </ul>
<% end %>