<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Calebs Portfolio</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="https://github.com/charris561" target="_blank" class="nav-link">GitHub</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/caleb-harris-2b564423b" target="_blank" class="nav-link">LinkedIn</a></li>
        <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Account
            </button>
            <ul class="dropdown-menu">
                <% if current_user %>
                    <li><a class="dropdown-item" href="/users/sign_out">Sign Out</a></li>
                    <li><a class="dropdown-item" href="/users/edit">Manage Account</a></li>
                <% else %>
                    <li><a class="dropdown-item" href="/users/sign_in">Login</a></li>
                    <li><a class="dropdown-item" href="/users/sign_up">Sign Up</a></li>
                <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>